flask==2.2.2
distro==1.9.0
faiss-cpu==1.8.0
googletrans
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.1.38
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
langsmith==0.1.38
libretranslatepy==2.1.1
numpy==1.26.4
openai
PyPDF2==3.0.1
pyttsx3==2.90
SpeechRecognition==3.10.3
translate==3.6.1
translators==5.9.0
