distro==1.9.0
faiss-cpu==1.8.0
googletrans
httpcore==1.0.5
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.1.38
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
langsmith==0.1.38
libretranslatepy==2.1.1
numpy==1.21.4
openai
packaging==23.2
PyAudio==0.2.14
PyPDF2==1.26.0
pypiwin32==223
pyttsx3==2.90
PyYAML==6.0.1
requests==2.26.0
SpeechRecognition==3.10.3
translators==5.9.0
urllib3==1.26.8
